<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel = " stylesheet " href = " https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../../css/reset.css"> 
    <link rel="stylesheet" href="../../css/home.css">
    <title>Hive</title>
</head>
<body>
    <header>
        <span>
            <img src="../../img/icones/Logo teste.png">
        </span>
            
        <span class="busca">
            <input type="search" placeholder="Buscar">
        </span>
            
        <span>
            <ul>
                <li><a href="/home"><img src="../../img/icones/Home Icon.png"></a></li>
                <li><a href=""><img src="../../img/icones/Chat Icon.png"></a></li>
                <li><a href="/perfil"><img src="../../img/icones/Profile Icon.png"></a></li>
                <li><a href="/"><img src="../../img/icones/Sair Icon.png"></a></li>
            </ul>
        </span>
    </header>

    <main>

            <div class="publi">
                <div class="card-publi">
                    <span class="nome-usuario"><%= publi.autor%> </span>
                    <img src="../../img/publi/<%= publi.post%>">
                    <div class="card-conteudo">
                        <span class="card-descri"> <%= publi.descricao %>   </span>
                    </div>
                    <div class="comentarios">
                        <div>
                            <span class="perfil">Felpss00</span>
                            <span>Daleeeeee</span>
                        </div>
                        <div>
                            <span class="perfil">Kaduzeira</span>
                            <span>O mais Brabooooooooo</span>
                        </div>
                        <div>
                            <span class="perfil">DaviSilva</span>
                            <span>O menino é experiente</span>
                        </div>
                    </div>
                    <div class="comentar">
                        <input type="text" placeholder="Adicione um comentário...">
                        <button type="submit" class="enviar">Publicar</button>
                    </div>
                </div>
    
                <div class="card-publi">
                    <span class="nome-usuario"> <%= publi.autor2%> </span>
                    <img src="../../img/publi/<%= publi.post2%>">
                    <div class="card-conteudo">
                        <span class="card-descri"> <%= publi.descricao2 %> </span>
                    </div>
                    <div class="comentarios">
                        <div>
                            <span class="perfil">Felpss00</span>
                            <span>Daleeeeee</span>
                        </div>
                        <div>
                            <span class="perfil">Kaduzeira</span>
                            <span>O mais Brabooooooooo</span>
                        </div>
                        <div>
                            <span class="perfil">DaviSilva</span>
                            <span>O menino é experiente</span>
                        </div>
                    </div>
                    <div class="comentar">
                        <input type="text" placeholder="Adicione um comentário...">
                        <button type="submit" class="enviar">Publicar</button>
                    </div>
                </div>
    
                <div class="card-publi">
                    <span class="nome-usuario"><%= publi.autor3%></span>
                    <img src="../../img/publi/<%= publi.post3%>">
                    <div class="card-conteudo">
                        <span class="card-descri"> <%= publi.descricao3 %> </span>
                    </div>
                    <div class="comentarios">
                        <div>
                            <span class="perfil">Felpss00</span>
                            <span>Daleeeeee</span>
                        </div>
                        <div>
                            <span class="perfil">Kaduzeira</span>
                            <span>O mais Brabooooooooo</span>
                        </div>
                        <div>
                            <span class="perfil">DaviSilva</span>
                            <span>O menino é experiente</span>
                        </div>
                    </div>
                    <div class="comentar">
                        <input type="text" placeholder="Adicione um comentário...">
                        <button type="submit" class="enviar">Publicar</button>
                    </div>
                </div>
    
                <div class="card-publi">
                    <span class="nome-usuario"><%= publi.autor4%></span>
                    <img src="../../img/publi/<%= publi.post4%>">
                    <div class="card-conteudo">
                        <span class="card-descri"> <%= publi.descricao3 %> </span>
                    </div>
                    <div class="comentarios">
                        <div>
                            <span class="perfil">Felpss00</span>
                            <span>Daleeeeee</span>
                        </div>
                        <div>
                            <span class="perfil">Kaduzeira</span>
                            <span>O mais Brabooooooooo</span>
                        </div>
                        <div>
                            <span class="perfil">DaviSilva</span>
                            <span>O menino é experiente</span>
                        </div>
                    </div>
                    <div class="comentar">
                        <input type="text" placeholder="Adicione um comentário...">
                        <button type="submit" class="enviar">Publicar</button>
                    </div>
                </div>
            </div>

         <section class="canais">
        <aside >
            <h1>Videos Recomendados</h1>
            <div class="card-video">
                <span class="nome-canal"> <%= publi.nomecanal1 %> </span>
                <a href="https://www.youtube.com/watch?v=y3xApPn7Hsw"><img src="../../img/publi/<%= publi.img1%>"></a>
            </div>
            <div class="card-video">
                <span class="nome-canal"><%= publi.nomecanal2 %></span>
                <a href="https://www.youtube.com/watch?v=CTfBuFvWPjU"><img src="../../img/publi/<%= publi.img2%>"></a>
            </div>
            <div class="card-video">
                <span class="nome-canal"><%= publi.nomecanal3 %></span>
                <a href="https://www.youtube.com/watch?v=UhWgA7VQc60"><img src="../../img/publi/<%= publi.img3%>"></a>
            </div>
            <div class="card-video">
                <span class="nome-canal"><%= publi.nomecanal4 %></span>
                <a href="https://www.youtube.com/watch?v=HbASi1Kk7CA"><img src="../../img/publi/<%= publi.img4%>"></a>
            </div>

        </aside>
    </section>  
    </main>
    
</body>
</html>