<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/Styleperfil.css">
</head>
<body>
    <header>
        <div class="navigation-bar">
            <div class="logo">
                <img src="../../img/imgperfil/Logo teste.png"/>
            </div>
            <nav>
                <ul>
                    <li><a href="/home"><img src="../../img/imgperfil/Home Icon.png"/></a></li>
                    <li><img src="../../img/imgperfil/Profile Icon.png"/></li>
                    <li><img src="../../img/imgperfil/Chat Icon.png"/></li>
                </ul>
            </nav>
        </div>
        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="../../img/imgperfil/Logo.png" alt="">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">Viniccius.kll</h1>

                    <button class="btn profile-edit-btn">Edit Profile</button>

                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

                </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">164</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name"></span> Gosto de paz e silêncio 📷✈️🏕️</p>

                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>

    <main>
        <div class="game-list">
            <div class="list">
                <nav>
                    <ul>
                        <li><img src="../../img/imgperfil/<%= postagens.AC %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.BF4 %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.FarCry3 %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.Gears3 %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.Halo4 %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.Horizon %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.IFR %>"></li>
                        <li><img src="../../img/imgperfil/<%= postagens.SpiderMan2 %>"></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </main>
    
</body>
</html>